<%-include("header.ejs")%>
<link rel="stylesheet" href="styles/articleForm.css">
<section>
<div class="form-div">
    <h1 class="title"> New Post</h1>
    <form class="form" action="/newPost/submit" method="post">
        <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
        <label for="text">Text</label>
        <textarea name="text" id="text" cols="30" rows="10" required></textarea>
        </div>
        <div class="button-div">
            <button  type="submit" class="post-button">Post</button>
        </div>
    </form>
</div>

</section>