<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManCity Discussion Blog</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        
        <nav>
            <a href="/"><img class="logo" src="\images\ManCityLogo.jpg" alt="ManCity Logo"></a> 
            <div class="nav-text">
                <h1>ManCity Blog</h1>
                <p>All members can post and discuss their thoughts on games, players, transfers and much more</p>
            </div>
        </nav>
    </header>
    <main>
